.header-button-top {
}
.menu-icon-box {
  position: relative;
  margin-left: 5px;
}
.menu-icon-box .icon {
  position: relative;
}
.menu-icon-box .icon .cart-number {
  background-color: rgb(187, 69, 0);
  color: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 15px;
  color: #fff;
  font-size: 10px;
  line-height: 1.43;
  min-width: 19px;
  padding: 2px 6px;
  text-align: center;
  pointer-events: none;
}
.menu-icon-box .icon a {
  color: rgb(164, 154, 141);
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  /* border-radius: 50%; */
  color: #686f7a;
  border: 1px solid transparent;
  /* margin: 13px 2px; */
  font-size: 18px;
  margin-left: 6px;
}
.dropbtn {
  background-color: #f8f9fa;
  /* color: white; */
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f1f1f1; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
