
.category{
    text-decoration: none;
    color: black;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-style: none;
}

.category:hover{
    background: rgb(231, 173, 48);
    color: rgb(0, 0, 0);
}
.category-font{
    font-size: 20px;
    font-weight: 900;
    width: 36px;
    height: 36px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 36px;
    margin-top: 7px;
    position: absolute;
}
.cat-textbox{
    padding-left: 50px;
}
.cat-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
    
}
.cat-detail{
margin-bottom: 0PX;
}