.card{
    --bs-card-border-width:1px ;
    --bs-card-border-color: none;
    border: 1px solid #F1F7F8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.card-img{
    padding: 8px;
}
.card-body-bor{
    border-bottom: 1px solid #EEF0F1;
}
.fa-list-top{
    border: 2px solid black;
    border-radius: 3px;
    padding: 1px;
}
.span-inline{
    display: inline;
}
.card-course{
    align-items: baseline;
}
.btn-course{
    text-align: center;
}
.tag-course{
    background-color: #ECEB98;
    padding: 3px 15px;
    border-radius: 5px;
}
.btn-course{
    background-color: #ffffff;
    padding: 3px 15px;
    border-radius: 5px;
    border: 1px solid #5CA1B4;
}
.btn-course:hover{
    background: #5CA1B4;
    color: #ffffff;
    -webkit-transition: all 300ms ease;
}
.card-footer{
    background-color: #FFFFFF;
    /* --bs-card-border-width: */
    padding-top: 0px;
    align-items: baseline;
}
.card-footer-img{
    width: 30px;
    border-radius: 30px;
    margin: 5px;
}